asciimatics==1.11.0
certifi==2020.12.5
chardet==3.0.4
docutils==0.16
ffpyplayer==4.3.1
future==0.18.2
grpcio==1.31.0
grpcio-tools==1.31.0
idna==2.10
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.glew-dev==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.gstreamer-dev==0.1.18
kivy-deps.sdl2==0.1.23
kivy-deps.sdl2-dev==0.1.23
Kivy-Garden==0.1.4
mpf==0.53.4
mpf-mc==0.53.6
mpf-monitor==0.53.1
Pillow==8.0.1
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.0
pyfiglet==0.8.post1
Pygments==2.3.1
pypiwin32==223
pyserial==3.4
pyserial-asyncio==0.4
pywin32==301
requests==2.25.0
ruamel.yaml==0.15.100
six==1.15.0
sortedcontainers==2.1.0
terminaltables==3.1.0
typing==3.7.4.3
urllib3==1.26.2
wcwidth==0.2.5
